* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img,
video {
    vertical-align: middle;
}

body {
    font-family: "Pretendard", sans-serif;
    color: #DDDDDD;
    /* background: #222428; */

}

address {
    font-style: normal;
}