/* ipad */
@media screen and (max-width: 1280px) {
    section {
        padding: 50px 120px 0;
    }

    .header-top {
        display: none;
    }

    .header-bottom {
        height: 50px;
        padding: 0 120px;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        box-shadow: 0 20px 30px rgba(13, 13, 13, 0.25);
    }

    .header-bottom .main-menu {
        display: none;
    }

    .header-bottom .fix-logo {
        display: block;
    }

    .header-bottom .gnb-list {
        display: none;
    }

    .main-visual-wrap>.video-inner,
    .video-end-inner {
        width: 100%;
        height: 600px;
    }

    .video-inner .main-video {
        max-width: 1280px;
    }

    .video-inner .main-video video {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .video-inner>.visual-overlay {
        bottom: 60px;
        left: 120px;
        gap: 5px;
        padding: 10px;
        height: 170px;
    }

    .video-inner img {
        width: 300px;
        height: 120px;
    }

    .video-inner .head-btn-wrap {
        height: 56px;
        font-size: 16px;
        z-index: 1000;
    }

    .video-inner .head-btn-wrap a {
        padding: 12px 20px;
        line-height: 24px;
    }
}

/* mobile */
@media screen and (max-width:768px) {
    section {
        padding: 50px 60px 0;
    }

    .header-bottom {
        padding: 0 60px;
    }


    .main-visual-wrap>.video-inner,
    .video-end-inner {
        width: 100%;
        height: 400px;
    }

    .video-inner .main-video {
        max-width: 1280px;
    }

    .video-inner .main-video video {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .video-inner>.visual-overlay {
        bottom: 60px;
        left: 60px;
        gap: 5px;
        padding: 10px;
        height: 100px;
    }

    .video-inner img {
        width: 200px;
        height: 120px;
    }

    .video-inner .head-btn-wrap {
        height: 56px;
        font-size: 12px;
        z-index: 1000;
    }

    .video-inner .head-btn-wrap a {
        padding: 8px 16px;
        line-height: 24px;
    }
}

@media screen and (max-width:480px) {

    .main-visual-wrap>.video-inner,
    .video-end-inner {
        width: 100%;
        height: 300px;
    }

    .video-inner .main-video {
        max-width: 1280px;
    }

    .video-inner .main-video video {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .video-inner>.visual-overlay {
        bottom: 60px;
        left: 60px;
        gap: 0px;
        padding: 10px;
        height: 60px;
    }

    .video-inner img {
        width: 150px;
        height: 120px;
    }

    .video-inner .head-btn-wrap {
        height: 56px;
        font-size: 6px;
        z-index: 1000;
    }

    .video-inner .head-btn-wrap a {
        padding: 4px 8px;
        line-height: 24px;
    }
}