body {
    background: #222428;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    margin: 0 auto;
}

/* section {
    max-width: 1600px;
    margin: 0 auto;
    /* background: rgba(255, 0, 0, 0.1); */
/* overflow: hidden;
} */
.CGV-event {
    overflow: hidden;
}

.CGV-event .inner {
    overflow: hidden;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 108px;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 105px;
}

.sub-title {
    font-weight: 100;
    font-size: 32px;
    padding-left: 10px;
}

/* Menu-tab */
.menu-wrap {

    /* margin-top: 50px; */
    margin-bottom: 57px;
}

.menu-list li a {
    display: block;
    padding: 12px 28px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 24px;
}

.menu-list li.active a {
    background: rgba(255, 0, 0, 0.5);
}

/* Main-slider */
.main-slider-wrap {
    height: 540px;
    display: flex;
    gap: 68px;
    /* gap: 135px; */
    justify-content: space-between;
    margin-bottom: 45px;
    position: relative;
    padding-left: 100px;
}

.main-slider-list {
    position: relative;
    /* border-radius: 24px; */
    /* overflow: hidden; */
    /* background-color: rgba(0, 0, 255, 0.1); */
    width: 55%;
    height: 540px;
}

.main-slider {
    /* width: 830px; */
    width: 100%;
    height: 540px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25);
}

.slider {
    display: flex;
    height: inherit;
    width: calc(830px * 6);
}

.slider .banner {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.slider .banner a {
    display: block;
    height: inherit;
}

.slider .banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow-btn */
.arrow-btn-wrap>li {
    position: absolute;
    top: 50%;
    display: flex;
    gap: 50px;
    /* transform: translateY(-50%); */
}

.arrow-btn-wrap>.arrow-btn-left {
    left: -70px;

}

.arrow-btn-wrap>.arrow-btn-right {
    right: -70px;

}

/* 인디케이터 */
.indicators {
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); */
    display: flex;
    gap: 8px;
    /* background: #fff; */
    justify-content: center;
    margin-top: 36px;
}

.indicators span {
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.indicators span.active {
    background: #ee3123;
}

/* 우측 페이지 리스트 */
/* .main-slider-wrap>.page-list-wrap {
    /* flex: 1; */

/* } */

/* .main-slider-wrap>.page-list-wrap>.page-list-wrap {
    flex: 1;
    overflow: hidden;
    position: relative;
} */

.page-list-wrap {
    /* display: flex; */
    /* flex-direction: column; */
    /* overflow: hidden; */
    position: relative;
    width: 544px;
    /* flex: 1; */
    /* height: 593px; */
    /* background-color: rgba(0, 255, 0, 0.2); */
}

.page-list {
    display: flex;
    width: 1100px;
}

.page1,
.page2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}

.page1 li a,
.page2 li a {
    display: flex;
    align-items: center;
    gap: 38px;
}

.thumb {
    width: 257px;
    height: 159px;
    overflow: hidden;
    flex-shrink: 0;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.text-box {
    overflow: hidden;
}

.text-box .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-bottom: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-box .desc {
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
}

/* More-btn */
.event-more-btn {
    /* text-align: right;
    margin-bottom: 10px; */
    position: absolute;
    top: -30px;
    right: 0
}

.event-more-btn span {
    margin-right: 5px;

}

.event-more-btn img {
    vertical-align: middle;
}

/* 페이지 버튼 */
.pager-btn {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 36px;
    /* position: absolute; */
    /* top: 0;
    right: 0; */
}

.pager-btn img {
    height: 10px;
}

/* 지금 받을 수 있는 혜택 */
.benefit-title {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 70px;
    padding-top: 45px;
}

.benefit-list {
    display: flex;
    gap: 34px;
    margin-bottom: 66px;
}

.benefit-list>li {
    flex: 1;
    border-radius: 24px;
    aspect-ratio: 1.72/1;
    overflow: hidden;
    transition: 0.3s;
}

.benefit-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 24px; */

}

.benefit-list>li:hover {
    transform: translateY(-10px);
}

/* 광고배너 */
.ad-banner-wrap {
    /* height: 257px; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c88dfb+0,a290fe+100 */
    background: linear-gradient(to bottom, rgba(200, 141, 251, 1) 0%, rgb(114, 91, 231) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-bottom: 80px;
    overflow: hidden;

}

.ad-banner-wrap>.inner {
    display: flex;
    height: 100%;
    /* align-items: center; */
    position: relative;

}

.ad-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
    z-index: 9999;
}

.ad-banner p {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: #35007f;
}

.ad-banner>strong {
    font-size: 4.2em;
    line-height: 1.2;
    color: #fff;
    font-family: "YeogiOttaeJalnan"

}

.ad-banner .btn {
    border: 2px solid #35007f;
    padding: 10px 24px;
    border-radius: 60px;
    width: fit-content;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    /* margin-left: 378px; */
    color: #35007f;
    /* background: #fff; */
    /* position: absolute; */
}

.ad-banner-wrap>img {
    position: absolute;
    right: 30px;
    bottom: 0;
    height: 90%;
    width: auto;
}