* {
    margin: 0;
    padding: 0;
}


img {
    vertical-align: middle;
}

body {
    background: #242424;
    color: inherit;
}


.menu-wrap {
    height: 70px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(250, 230, 230, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    ;
    border-bottom: 1px solid #323232;
    text-align: center;
}

/* =================== */

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#222222+0,171717+100 */
    background: linear-gradient(to bottom, rgba(34, 34, 34, 1) 0%, rgba(17, 17, 17, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.inner {
    max-width: 1920px;
    margin: 0 auto;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-fix {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 0 160px;
    align-items: center;
    background: #222;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 30px rgba(13, 13, 13, 0.25);
}

.ham-btn>.ham-open,
.ham-btn>.ham-inner {
    display: none;
}

.ham-btn>.active {
    display: block;
}

.ham-inner {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.ham-inner>.close-btn {
    padding: 10px 160px 0 160px;
}

.ham-wrap {
    background: rgba(0, 0, 0, 0.3);
    margin: 0 160px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.ham-wrap>div {
    background: rgba(0, 0, 0, 0.2);
    height: 370px;
}

.ham-wrap>div>ul {
    text-align: center;
}

.ham-wrap>div li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.ham-wrap>div li:hover {
    text-decoration: underline;
}

.ham-wrap>div li:first-child {
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.ham-wrap>div li:first-child:hover {
    text-decoration: none;
}

.fix-logo>a>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header-fix .gnb-list {
    display: flex;
    gap: 15px;
}

.header-fix .gnb-list>li {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-fix .gnb-list>.active {
    width: 267px;
    justify-content: flex-end;
    padding-right: 10px;
}

.header-fix .gnb-list>li:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* main */
.page-inner {
    margin-top: 60px;
    background: #222222;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.page-inner>.page-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding-bottom: 20px;
    margin: 0 160px;
}

.page-wrap>h2 {
    font-size: 32px;
    font-weight: 700;
}

.page-wrap>.location>span {
    font-size: 12px;
    color: #707070;
}

.page-wrap>.location>span:last-child {
    color: #DDD;
    font-weight: 600;
}

.page-wrap>.location>span>a:hover {
    text-decoration: underline;
}

/* ============= */


.search-top {
    width: 300px;
    padding: 5px;

}

.search-top>form {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    border-radius: 28px;
    height: 40px;
    margin-top: 4px;
}

.search-top>form>input {
    height: 40px;
    background: none;
    border: none;
    margin-left: 18px;
}

.search-top>form>button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

.search-top>form>button>img {


    width: 20px;

}


.menu-search {
    display: flex;
    justify-content: space-between;

    margin-right: 160px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    color: #fff;
    text-decoration: none;



}

li:hover {
    border-bottom: 1px solid red;
    color: red;

}




ul {
    display: flex;
    gap: 150px;
    margin-left: 160px;
    margin-bottom: 150px;


}

/* 목록펼치고 나열하기 */

.content>.list-wrap {

    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(3, 200px); */
    /* grid-template-columns: 1tr 1tr 1tr; */
    grid-template-columns: repeat(4, auto);
    /* 기기 디스플레이 맞게 숫자만 바꿔줌 - 계산해서 보임 - 2차원적 개념 플렉스와차이 */
    gap: 30px;
    /* 위치는 바뀌지 않음 */
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 150px;


}

.search {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    margin-top: 50px;
    justify-content: space-between;
    text-align: center;
    flex-direction: ;
}


.content>div .movie1 {
    position: relative;
    /* padding: 30px; */
    align-items: center;
    text-align: center;
    width: 311px;
    height: 558px;
    margin-bottom: 55px;
}

.content>div .movie1 .img-box img {
    width: 287px;
    height: 441px;
    border-radius: 10PX;
    z-index: 0;
}

.content>div .movie1 .img-box {
    position: relative;
    margin: 0 auto;
    width: 287px;
    height: 441px;
}

.content>.list-wrap .movie1 .img-box p {
    display: block;
    position: absolute;
    font-weight: bold;
    color: #ffffff;

    font-style: oblique;
    font-size: 60px;
    width: 40px;
    height: 40px;
    bottom: 50px;
    left: 10px;


    /* position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    left: 16px;
    bottom: 100px;
    width: 40px;
    height: 40px; */
}

.content>div .movie1 .text-box .title {
    color: #fff;
    display: flex;

    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.content>div .movie1 .text-box .title a {}


.content>div .movie1 .text-box .title img {

    margin-right: 7px;
}

.content>div .movie1 .text-box .title span {

    text-align: center;
    height: 31px;
}

.content>div .movie1 .btn-box {

    display: flex;
    flex-grow: 0;
    margin-top: 15px;
    ;
    gap: 9px;

}



.btn-box>.btn {
    position: relative;
    color: #fff;
    width: 94px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 7px;
    padding-left: 5px;
    padding-right: 5px;

    /* background: rgba(0, 0, 0, 0.5); */
}



.content>div .movie1 .btn-box .like-btn {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 7px;


    /* display: flex;
    color: #fff;

    width: 94px;
    height: px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5); */
}

.like-btn:hover {}

.content>div .movie1 .btn-box .like-btn .p {}


.content>div .movie1 .btn-box .like-btn .img {

    /* .content>div .movie1 .text-box .story-btn {

    height: ;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    ;
    border-radius: 15px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5); */
}

.res-btn {
    background: #af2d23;
}

.content>div .movie1 .sub-info {
    color: #fff;
    padding: 5px;
    ;
}




/*===FOOTER=== */
/* FOOTER */
footer {
    background-color: #EE3123;
    /* padding: 60px 0;
    height: 470px; */




}


footer>.inner {
    margin: 10px 200px;
    align-items: center;
    position: relative;

}


.footer-logo {
    /* align-items: center; */
    margin-left: 50px;
    filter: contrast(200%);
    /* position: absolute; */
}

.footer-middle {
    /* height: 183px; */
    display: flex;
    justify-content: space-between;
    /* padding-top: 58px; */
    margin-left: 50px;


}

address {
    height: 183px;
    padding: 0px;
}

address p {
    line-height: 25px;

}

.qr-list {
    display: flex;
    gap: 20px;
}

.qr-list p {
    font-size: 18px;
    font-weight: 500;
}





.qr-list p:last-child {
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
}

.footer-bottom {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    align-items: center;

}

.select-company {

    border: none;
    border-radius: 20px;
    height: 19px;
}

.f-inner-left {
    /* position: absolute; */
    display: flex;
    gap: 35px;
    /* height: 19px;
    width: 704.38px; */

}

.footer-bottom {
    height: 0px;
}

.footer-bottom .bt-list {
    display: flex;
    align-items: center;
    gap: 35px;
}



.footer-bottom .sns-list {
    display: flex;
    gap: 50px;

}

.footer-bottom .sns-list>li:first-child {
    background: #FEE500;
    padding: 5px;
    border-radius: 40%;
}

.sns-list img {
    width: 20px;
}

.footer-bottom .sns-list>li:nth-child(2) {
    background: #833AB4;
    background: linear-gradient(241deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:nth-child(3) {
    background: #E40006;
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:last-child {
    background: #1C1C1B;
    padding: 5px;
    border-radius: 40%;
}

/* =============반응형============== */
/* ipad */
@media screen and (max-width: 1280px) {}

/* mobile */
@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {}