* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #DDDDDD;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video {
    vertical-align: middle;
    max-width: 100%;
}

address,
em,
i {
    font-style: normal;
}

.blind {
    position: absolute;
    top: -99999px;
}

body {
    font-family: "Pretendrad", sans-serif;
}