body {
    background: #222428;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    margin: 0 auto;
}



.section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 108px;
}


.inner {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-fix {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 0 160px;
    align-items: center;
    background: #222;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 30px rgba(13, 13, 13, 0.25);
}

.ham-btn>.ham-open,
.ham-btn>.ham-inner {
    display: none;
}

.ham-btn>.active {
    display: block;
}

.ham-inner {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.ham-inner>.close-btn {
    padding: 10px 160px 0 160px;
}

.ham-wrap {
    background: rgba(0, 0, 0, 0.3);
    margin: 0 160px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.ham-wrap>div {
    background: rgba(0, 0, 0, 0.2);
    height: 370px;
}

.ham-wrap>div>ul {
    text-align: center;
}

.ham-wrap>div li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.ham-wrap>div li:hover {
    text-decoration: underline;
}

.ham-wrap>div li:first-child {
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.ham-wrap>div li:first-child:hover {
    text-decoration: none;
}

.fix-logo>a>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header-fix .gnb-list {
    display: flex;
    gap: 15px;
}

.header-fix .gnb-list>li {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-fix .gnb-list>.active {
    width: 267px;
    justify-content: flex-end;
    padding-right: 10px;
}

.header-fix .gnb-list>li:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.benefit-inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 160px;
}

.inner {
    max-width: 1920px;
    margin: 0 auto;
}


.benefit-section {
    padding: 60px 0;
}

/* 카드 리스트 */
.benefit-card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.benefit-card a {
    display: block;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.25s ease, box-shadow 0.25s;
}

.card-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-info {
    padding: 16px 18px;
}


.card-date {
    font-size: 13px;
    color: #777;
    margin-bottom: 6px;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: #111;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-inline: hidden;
}

/* MOVIE-SECTION  */
.movie-btn-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    /* padding: 40px 157px 40px 157px; */
}

.m-button-list {
    display: flex;
    gap: 50px;

}

.m-button-list>li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
}

.poster-box .blind p {
    padding: 0 30px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}

.poster-box .blind p:last-child {
    line-height: 1.5;
    font-weight: 300;

}

.movie-wrap {
    padding-top: 30px;
}

.poster-box .rank {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #fff;
}

.movie-wrap {
    /* margin: 0 180px; */
}

.movie-list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: relative;
}

.poster-box {
    position: relative;

}

.heart-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

/* 실제 하트 그림은 여기 */
.poster-box::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: url("../images/unlike-icon.png") no-repeat center;
    background-size: contain;
    pointer-events: none;
}

.poster-box.liked::after {
    background-image: url("../images/like-icon.png");
}

.poster-box {
    overflow: hidden;
    border-radius: 20px;
}

.poster-box .click {
    transition: filter 0.3s ease;
}

.poster-box .click:hover {
    filter: blur(8px) brightness(50%);

}

.poster-box:hover .blind {
    display: flex;
}

.poster-box .blind {
    position: absolute;
    top: 90px;
    color: #ffffff;
    pointer-events: none;
}

.movie-title {
    display: flex;
    gap: 8px;
    align-items: center;
}



/* SPECIAL-SECTION */
.special-section {

    position: relative;
    overflow: hidden;
}

.section-name {
    /* 공통 */
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding-left: 157px; */
}

.btn-wrap {
    display: flex;
    gap: 10px;
    padding-top: 60px;
    /* padding-left: 157px; */
}

.btn-wrap button {
    border: none;
    width: 98px;
    height: 49px;
    border-radius: 28px;
    background: #0A0B0C;
    color: #DDDDDD;
    z-index: 9999;
}

.btn-wrap button:hover {
    background: rgba(238, 49, 35, 0.5);
    color: #DDDDDD;
}

.circle {}

.circle::before {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    background: #222428;
    position: absolute;
    top: 170px;
    left: 0;
    z-index: 99;
    overflow: hidden;

}

.circle::after {
    content: "";
    display: block;
    width: 100%;
    height: 90px;
    border-radius: 50%;
    background: #222428;
    position: absolute;
    bottom: 7%;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

.theater-list {
    display: flex;
    gap: 36px;
    overflow: hidden;
    padding-top: 60px;
    width: calc(100% * 14 / 2);
    margin-left: calc(-100% / 4);

}

.theater-list .img-box img {}

.theater-list li {
    position: relative;
    /* width: 100%; */
    flex: 1;
    /* padding: 0 10px; */
    /* transform: translateX(-33%); */
}

.theater-list li img {
    max-width: none;
    width: 100%;
}


.theater-list .text-box {
    position: absolute;
    bottom: 30%;
    padding-left: 56px;

}

.theater-list .text-box p {
    font-size: 16px;
    font-weight: 600;
}

.theater-list .text-box .title {
    font-size: 48px;
    font-weight: 700;
}

.special-section .next-button {
    display: flex;
    position: absolute;
    z-index: 10000;
    gap: 800px;
    left: 50%;
    bottom: 35%;
    transform: translateX(-52%);
}

/* NOTICE-SECTION */

.notice-top-wrap {
    padding-top: 54px;

}

.top-list {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.top-list::before,
.top-list::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* ⭐ 화면 전체 */
    height: 1px;
    background: #403B3B;
}

.top-list::before {
    top: 0;
}

.top-list::after {
    bottom: 0;
}

.top-list>li {
    display: flex;
    align-items: center;
    gap: 10px;
}



.top-list>li>a {
    display: flex;
    align-items: center;
}


.icon-list {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 140px 0;
}

.icon-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93px;
    height: 100px;
    gap: 10px;
}

.icon-list a>p {
    font-size: 25px;
    font-weight: 500;

}

.icon-list>li:hover p {
    color: rgba(238, 49, 35, 0.7);

}

.icon-list>li:hover img {}

.icon-list a>img {

    width: 55px;
    height: 55px;
}

/* FOOTER */
footer {
    background-color: #EE3123;
    padding: 60px 0;

}

.footer-logo {
    filter: contrast(200%);
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

address p {
    line-height: 25px;
}

.qr-list {
    display: flex;
    gap: 20px;
}

.qr-list p {
    font-size: 18px;
    font-weight: 500;
}



.qr-list p:last-child {
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
}

.footer-bottom {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.select-company {

    border: none;
    border-radius: 20px;
}

.f-inner-left {
    display: flex;
    gap: 35px;

}

.footer-bottom .bt-list {
    display: flex;
    gap: 35px;
}

.footer-bottom .sns-list {
    display: flex;
    gap: 50px;

}

.footer-bottom .sns-list>li:first-child {
    background: #FEE500;
    padding: 5px;
    border-radius: 40%;
}

.sns-list img {
    width: 20px;
}

.footer-bottom .sns-list>li:nth-child(2) {
    background: #833AB4;
    background: linear-gradient(241deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:nth-child(3) {
    background: #E40006;
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:last-child {
    background: #1C1C1B;
    padding: 5px;
    border-radius: 40%;
}