body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#222222+0,171717+100 */
    background: linear-gradient(to bottom, rgba(34, 34, 34, 1) 0%, rgba(17, 17, 17, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.inner {
    max-width: 1600px;
    margin: 0 auto;
}

h3 {
    margin-top: 45px;
    margin-bottom: 38px;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-fix {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 0 160px;
    align-items: center;
    background: #222;
    backdrop-filter: blur(20px);
    box-shadow: 0 20px 30px rgba(13, 13, 13, 0.25);
}

.ham-btn>.ham-open,
.ham-btn>.ham-inner {
    display: none;
}

.ham-btn>.active {
    display: block;
}

.ham-inner {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.ham-inner>.close-btn {
    padding: 10px 160px 0 160px;
}

.ham-wrap {
    background: rgba(0, 0, 0, 0.3);
    margin: 0 160px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.ham-wrap>div {
    background: rgba(0, 0, 0, 0.2);
    height: 370px;
}

.ham-wrap>div>ul {
    text-align: center;
}

.ham-wrap>div li {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.ham-wrap>div li:hover {
    text-decoration: underline;
}

.ham-wrap>div li:first-child {
    background: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.ham-wrap>div li:first-child:hover {
    text-decoration: none;
}

.fix-logo>a>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.header-fix .gnb-list {
    display: flex;
    gap: 15px;
}

.header-fix .gnb-list>li {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-fix .gnb-list>.active {
    width: 267px;
    justify-content: flex-end;
    padding-right: 10px;
}

.header-fix .gnb-list>li:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* main */
/* page-header */
.page-inner {
    margin-top: 60px;
    background: #222222;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.page-inner>.page-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding-bottom: 20px;
    margin: 0 160px;
}

.page-wrap>h2 {
    font-size: 32px;
    font-weight: 700;
}

.page-wrap>.location>span {
    font-size: 12px;
    color: #707070;
}

.page-wrap>.location>span:last-child {
    color: #DDD;
    font-weight: 600;
}

.page-wrap>.location>span>a:hover {
    text-decoration: underline;
}

/* main */
/* 탭메뉴 */
.tab-list ul {
    display: flex;
    gap: 10px;
    padding-top: 65px;
}

.tab-list li>a {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 12px 28px;
}

.tab-list li>a.active {
    background: rgba(255, 0, 0, 0.5);
}

/* 인기상영작 TOP10 */
.popular-wrap {
    position: relative;
}

.popular-list ul {
    display: flex;
    gap: 45px;
    margin-left: 45px;
    margin-right: 45px;
    overflow: hidden;
}

.popular-list li {
    flex: 0 0 calc((100% - 135px) / 4);
}

.popular-list img {
    width: 100%;
    border-radius: 24px;
}

/* arrow */
.arrow-wrap {
    display: flex;
    justify-content: space-between;
}

.left-arrow {
    margin-top: -17%;
}

.right-arrow {
    margin-top: -17%;
}

/* 신규개봉작 */
.new-list-wrap {
    position: relative;
    overflow: hidden;
}

.new-list ul {
    display: flex;
    gap: 45px;
    margin-left: 45px;
    margin-right: 45px;
    overflow: hidden;
}

.new-list li {
    flex: 0 0 calc((100% - 135px) / 4);
}

.new-list img {
    width: 100%;
    border-radius: 24px;
}

/* 전체영화 */

.tab-menu-wrap ul {
    display: flex;
    gap: 40px;
}

.tab-menu-wrap ul>li.active {
    color: #EE3123;
    margin-bottom: 35px;
}

.all-list-wrap {
    position: relative;
}

.all-list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.all-list img {
    width: 100%;
    border-radius: 24px;
    display: block;
}

/* 예매상태바(고정) */
.situation-wrap {
    /* position: fixed; */
    background: rgba(255, 255, 255, 0.7);
    max-width: 1920px;
    height: 75px;
    z-index: 99999;
    margin-top: 80px;
}

.situation-wrap li {
    color: #000;
}

/* FOOTER */
footer {
    background-color: #EE3123;
    padding: 60px 0;
}

.footer-logo {
    filter: contrast(200%);
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

address p {
    line-height: 25px;
}

.qr-list {
    display: flex;
    gap: 20px;
}

.qr-list p {
    font-size: 18px;
    font-weight: 500;
}



.qr-list p:last-child {
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
}

.footer-bottom {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.select-company {

    border: none;
    border-radius: 20px;
}

.f-inner-left {
    display: flex;
    gap: 35px;

}

.footer-bottom .bt-list {
    display: flex;
    gap: 35px;
}

.footer-bottom .sns-list {
    display: flex;
    gap: 50px;

}

.footer-bottom .sns-list>li:first-child {
    background: #FEE500;
    padding: 5px;
    border-radius: 40%;
}

.sns-list img {
    width: 20px;
}

.footer-bottom .sns-list>li:nth-child(2) {
    background: #833AB4;
    background: linear-gradient(241deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:nth-child(3) {
    background: #E40006;
    padding: 5px;
    border-radius: 40%;
}

.footer-bottom .sns-list>li:last-child {
    background: #1C1C1B;
    padding: 5px;
    border-radius: 40%;
}